<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eebbk.bfc.demo.push">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--<permission android:name="com.eebbk.bfc.demo.push.permission.MIPUSH_RECEIVE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.eebbk.bfc.demo.push.permission.MIPUSH_RECEIVE" />-->

    <application
        android:name=".PushTestApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basicfunction.BasicFunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicfunction.interfaceTest.InterFaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicfunction.function.FunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".performance.PerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicfunction.defaultflow.DefaultFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicfunction.customflow.CustomFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicfunction.MessageShowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".basicfunction.interfaceTest.VersionActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".PermissionActivity"/>

        <meta-data
            android:name="SYNC_APP_KEY"
            android:value="${SYNC_APP_KEY}" />
        <meta-data
            android:name="SYNC_RID_TAG"
            android:value="${SYNC_RID_TAG}" />

        <meta-data
            android:name="MI_APP_KEY"
            android:value="${MI_APP_KEY}" />
        <meta-data
            android:name="MI_APP_ID"
            android:value="${MI_APP_ID}" />

        <receiver
            android:name=".basicfunction.MessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.eebbk.bfc.im.sync_response" />

                <category android:name="${PACKAGE_NAME}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".basicfunction.ModuleMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.eebbk.bfc.im.sync_response" />

                <category android:name="com.eebbk.bfc.module.account" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".basicfunction.ModulePushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.eebbk.bfc.im.sync_response" />

                <category android:name="module_push" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".debug.PushAnalysisTool$DebugEventReceiver">
            <intent-filter>
                <action android:name="com.eebbk.bfc.im.debug_push_event_publish_action" />
            </intent-filter>
        </receiver>-->

        <!--<service
            android:name="com.eebbk.bfc.im.push.service.ConnectionService"
            android:enabled="true"
            android:exported="true"
            android:process="sync.push">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.eebbk.bfc.im.connection_service" />
            </intent-filter>
        </service>-->


    </application>

</manifest>